@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.link-wrapped:before {
  @apply cursor-pointer z-10 inset-0 absolute;
  content: '';
}

.header-clipping {
  @apply relative;
}

.header-clipping .container {
  @apply relative;
  z-index: 3;
}

.header-clipping .shunshine {
  @apply absolute top-0;
  left: 50%;
  transform: translateX(-50%);
  width: 515px;
  height: 90%;
  opacity: 0.8;
  clip-path: polygon(46% 0%, 82% 0%, 67% 100%, 0% 100%);
  background: transparent linear-gradient(130.09deg, #3d47bd 0%, #2e37a5 50.8%);
}

.header-clipping:before {
  @apply w-full bg-indigo-900 inset-0 absolute;
  content: '';
  height: 648px;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
}

.item figure.item-image {
  position: relative;
  perspective: 10000px;
}

.item figure.item-image:before {
  content: '';
  @apply absolute inset-0 bg-indigo-900 opacity-0 transition-all duration-200;
}

.item:hover figure.item-image:before {
  @apply opacity-75;
}

.item figure.item-image svg.icon-play {
  content: '';
  position: absolute;
  width: 46px;
  height: 46px;
  top: 60%;
  left: 50%;
  transform-origin: bottom;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotateX(-45deg);
  @apply transition-all duration-300;
}

.item figure.item-image svg.icon-play circle {
  @apply fill-orange-500;
}

.item:hover figure.item-image svg.icon-play {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) rotateX(0deg);
}

.card {
  @apply border-gray-200;
}

.card svg {
  @apply fill-gray-600;
}
.card:hover svg {
  @apply fill-white;
}

.card:hover {
  @apply bg-indigo-700 border-indigo-700;
  box-shadow: 0px 6px 15px rgba(77, 85, 188, 0.4);
}

.card .card-meta h4 {
  @apply text-gray-900;
}

.card:hover .card-meta h4 {
  @apply text-white;
}

.card .card-meta h5 {
  @apply text-gray-600;
}

.card:hover .card-meta h5 {
  @apply text-indigo-400;
}
